* {
  box-sizing: border-box;
}

html {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  scroll-behavior: smooth;
}

ul,
li,
button,
input,
textarea,
span,
p {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  background-color: #E5E5E5;
}

.container {
  position: relative;
  overflow: hidden;
}
@media (min-width: 1360px) {
  .container {
    box-shadow: 0 0 65px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-family: Fira Sans;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
  text-align: left;
  height: 140px;
  width: 474px;
  left: 126px;
  top: 232px;
  border-radius: nullpx;
}

a {
  text-decoration: none;
}

button:focus,
input:focus {
  outline: none;
}

.header {
  position: relative;
}

.header__background {
  position: absolute;
  width: 1360px;
  height: 900px;
  left: 6px;
  top: -3px;
  background-image: url("/BG.3a11186c.png");
}

.nav {
  position: relative;
  top: 85px;
  display: flex;
  justify-content: space-between;
  margin-left: 119px;
  margin-right: 101px;
  z-index: 1;
}
.nav__list {
  list-style-type: none;
  align-content: center;
  flex-basis: auto;
}
.nav__item {
  color: white;
}

.header__label {
  position: absolute;
  z-index: 4;
  width: 1300px;
  height: 130px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/Menu.cf85394a.svg");
  display: block;
}

.header__toggler {
  display: none;
  z-index: 4;
}
.header__toggler:checked + .header__label {
  background-image: url("/close.f3de6e3c.jpg");
  z-index: 4;
}
.header__toggler:checked ~ .burger {
  right: 0;
}

.burger {
  display: none;
  position: absolute;
  top: 0;
  right: 100vw;
  height: 179vh;
  z-index: 3;
  width: 100%;
  font-family: Fira Sans;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
  text-align: left;
  opacity: 90%;
  background-color: #1434E1;
  transition: right 2s;
  display: block;
}
.burger__list {
  list-style-type: none;
  margin-top: 267px;
}
.burger__item {
  margin-left: 255px;
  margin-bottom: 21px;
}
.burger__link {
  color: white;
  display: block;
  margin-bottom: 10px;
}

.workAround {
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
}
.workAround__title {
  height: 140px;
  width: 474px;
  left: 126px;
  top: 232px;
  border-radius: nullpx;
  margin: 127px 0 0 120px;
  font-family: Fira Sans;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
  text-align: left;
}
.workAround__text--small {
  height: 81px;
  width: 474px;
  left: 126px;
  top: 402px;
  border-radius: nullpx;
  margin: 30px 0 0 120px;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.workAround__button {
  height: 16px;
  width: 189px;
  height: 50px;
  left: 0px;
  top: 17px;
  margin: 56px 0 0 120px;
  background: #4737FF;
  font-family: Fira Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: white;
  line-height: 24px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: capitalize;
}

.loader {
  display: flex;
  align-items: center;
  margin-top: 189px;
  margin-left: 119px;
}
.loader__loaderStartDigit {
  width: 21px;
  border-radius: nullpx;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.loader__line--active {
  height: 2px;
  width: 94px;
  padding-left: 10px;
  border-radius: 0px;
}
.loader__line--color {
  height: 2px;
  width: 184px;
  border-radius: 0px;
}
.loader__endDigit {
  width: 23px;
  padding-left: 14px;
  border-radius: nullpx;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.workAround__picture--back {
  position: absolute;
  width: 400px;
  left: 570px;
  top: 532px;
  border-radius: 0px;
  box-shadow: -20px 60px 220px 0px #000000 44%;
  z-index: 1;
}
.workAround__picture--front {
  position: absolute;
  height: 65px;
  width: 65px;
  left: 731px;
  top: 654px;
  z-index: 2;
}

.workAround__image {
  position: absolute;
  height: 758px;
  width: 665px;
  left: 695px;
  top: 139px;
  border-radius: 0px;
}

main {
  position: relative;
  top: 203px;
  height: 1183px;
}

.weLove {
  display: grid;
  grid-template-areas: "head head head" "text multimadia creative" "text design ui" "text packa coding" "text brnding coding";
  grid-template-rows: 40px 28px 28px 28px 28px;
  grid-template-columns: 642px 189px 160px;
  gap: 10px 60px;
  margin: 0;
  left: 126px;
  margin-left: 126px;
}
.weLove head, .weLove text, .weLove multimadia,
.weLove design, .weLove packa, .weLove brnding,
.weLove creative, .weLove ui, .weLove coding {
  left: 126px;
  padding: 10px;
  background: #dbd9d9;
}
.weLove__blockName {
  grid-area: head;
  height: 20px;
  width: 160px;
  left: 126px;
  top: 1000px;
  border-radius: nullpx;
  font-family: Fira Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 4px;
  text-align: left;
  text-transform: uppercase;
}
.weLove__text {
  grid-area: text;
  height: 199px;
  width: 539px;
  left: 126px;
  top: 1060px;
  border-radius: nullpx;
  font-family: Fira Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -1px;
  text-align: left;
}
.weLove__item1 {
  grid-area: multimadia;
  height: 28px;
  width: 189px;
  border-radius: nullpx;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.weLove__item2 {
  grid-area: design;
  height: 28px;
  width: 189px;
  border-radius: nullpx;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.weLove__item3 {
  grid-area: packa;
  height: 28px;
  width: 189px;
  border-radius: nullpx;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.weLove__item4 {
  grid-area: brnding;
  height: 28px;
  width: 189px;
  border-radius: nullpx;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.weLove__item5 {
  grid-area: creative;
  height: 28px;
  width: 189px;
  border-radius: nullpx;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.weLove__item6 {
  grid-area: ui;
  height: 28px;
  width: 189px;
  border-radius: nullpx;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.weLove__item7 {
  grid-area: coding;
  height: 28px;
  width: 189px;
  border-radius: nullpx;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.videoPlay__container {
  position: relative;
  left: 125px;
  top: 99px;
}

.videoPlay {
  display: flex;
  flex-direction: column;
}
.videoPlay__block {
  display: flex;
}
.videoPlay__splashPicture-big {
  height: 500px;
  width: 825px;
  border-radius: 0px;
}
.videoPlay__splashPicture-arrow {
  height: 65px;
  width: 65px;
  left: 380px;
  top: 217px;
  position: absolute;
  border-radius: 0px;
}
.videoPlay__splashPicture-outside {
  height: 500px;
  width: 825px;
  padding-left: 30px;
  border-radius: 0px;
}

.manageButton {
  padding-top: 50px;
}
.manageButton__item:last-child {
  padding-left: 25px;
}

.footer__container {
  position: relative;
  height: 240px;
  width: 1360px;
  left: 0px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  background-color: #515151;
}

.firstNavBlock {
  position: relative;
  display: flex;
}
.firstNavBlock__title {
  height: 23px;
  width: 74px;
  margin: 70px 0 42px 125px;
  border-radius: 0px;
  color: white;
  font-family: Fira Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

.nav__list-first {
  list-style-type: none;
  display: flex;
  margin-left: 53px;
}

.nav__item-first {
  margin: 70px 0 42px 60px;
  color: white;
  white-space: nowrap;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

.feedback {
  margin: 60px 127px 41px 108px;
}
.feedback__mail {
  height: 40px;
  width: 170px;
  background: #F5F4FF;
  border: none;
  padding-left: 23px;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  vertical-align: bottom;
}
.feedback__button {
  height: 40px;
  width: 100px;
  border: none;
  background: #C6B393;
  margin-left: 16px;
  font-family: Fira Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 4px;
  color: white;
  text-transform: uppercase;
}

.footer__line {
  height: 1px;
  width: 1108px;
  left: 125px;
  top: 2218px;
  border-radius: 0px;
}

.secondtNavBlock {
  display: flex;
  justify-content: space-between;
  margin: 36px 135px 35px 125px;
}
.secondtNavBlock__secondtNavBlock__social {
  display: flex;
}

.nav__list-second {
  display: flex;
  list-style-type: none;
  margin-right: 0;
  padding-right: 0;
}

.nav__item-second {
  margin-right: 0;
  padding-right: 42px;
  color: white;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 40%;
}

.socialNetwork {
  height: 24px;
}
.socialNetwork__networksLink {
  height: 14px;
  width: 16px;
  left: 4px;
  top: 5px;
  border-radius: 0px;
  opacity: 40%;
  padding: 5px;
}

/*# sourceMappingURL=/style.97fcb138.css.map */