* {
	box-sizing: border-box;
  }
  
  html {
	font-family: "Sharp Sans No2 Semibold", sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	scroll-behavior: smooth;
  }
  
    body,
    ul,
    li,
    button,
    input,
    textarea,
    span,
    p {
      margin: 0;
      padding: 0;
      outline: none;
    }
  
  body {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;

  }
  
    h1,
    h2,
    h3,
    h4 {
      margin: 0;
    }
    
  h1 {
	font-family: Fira Sans;
	font-size: 80px;
	font-style: normal;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: -1px;
	text-align: left;
	height: 140px;
    width: 474px;
    left: 126px;
    top: 232px;
    border-radius: nullpx;
  }

a {
	text-decoration: none;
  }
  
  button:focus,
  input:focus {
	outline: none;
  }


.header__background { 
	position: absolute;
	width: 1360px;
	height: 900px;
	left: 6px;
	top: -3px;
}

.nav { 

  &__list { 
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      position: relative;
      top: 85px;
      left: 119px;
      right: 101px;
  }

  &__item { 
      padding: auto;
      color: white;
    }
}

.workAround { 
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  
  &__title { 
    height: 140px;
    width: 474px;
    left: 126px;
    top: 232px;
    border-radius: nullpx;
    margin: 127px 0 0 120px;
        
    font-family: Fira Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: left;
}

  &__text--small { 
    height: 81px;
    width: 474px;
    left: 126px;
    top: 402px;
    border-radius: nullpx;
    margin: 30px 0 0 120px;

    font-family: Fira Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;  
	}

	&__button { 
    height: 16px;
    width: 189px;
    height: 50px;
    left: 0px;
    top: 17px;
    margin: 56px 0 0 120px;
    background: #4737FF;

    font-family: Fira Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: white;
    line-height: 24px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: capitalize;
  }
}

.loader { 
  display: flex;
  align-items: center;
  margin-top: 189px;
  margin-left: 119px;
  
  &__loaderStartDigit { 
      // height: 18px;
      width: 21px;
      border-radius: nullpx;
      //styleName: Paragraph;
      font-family: Fira Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      // letter-spacing: 0px;
      // text-align: left;
    }

    &__line--active { 
      height: 2px;
      width: 94px;
      padding-left: 10px;
      border-radius: 0px;
    }

    &__line--color { 
      height: 2px;
      width: 184px;
      border-radius: 0px;          
    }

    &__endDigit { 
      // height: 18px;
      width: 23px;
      padding-left: 14px;
      border-radius: nullpx;
      //styleName: Paragraph;
      font-family: Fira Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      // letter-spacing: 0px;
      // text-align: left;
    }
  }

.workAround__picture {

  &--back { 
    position: absolute;
    width: 400px;
    left: 570px;
    top: 532px;
    border-radius: 0px;
    box-shadow: -20px 60px 220px 0px #000000 44%;
    z-index: 1;
  }

  &--front { 
    position: absolute;
    height: 65px;
    width: 65px;
    left: 731px;
    
    top: 654px;
    z-index: 2;
    // border-radius: 0px;
  }
}

.workAround__image {
  position: absolute;
  height: 758px;
  width: 665px;
  left: 695px;
  top: 139px;
  border-radius: 0px;
}

main { 
  

	.weLove__container { 

		.weLove__blockName { 

		}

		.weLove__text { 

		}

		.weLove__description { 

			.description__item { 

			}
		}
	}

	.videoPlay__container { 

		.videoPlay__splash { 

			.videoPlay__block { 

				.videoPlay__splashPicture { 

				}
			}

			.videoPlay__manageButton { 

				.manageButton__item { 

				}
			}
		}
	}
}

// // .footer__container { 

// // 	.firstNavBlock__container { 

// // 		h4 { 

// // 		}

// // 		.nav__container { 

// // 			.nav__list { 

// // 				.nav__item { 

// // 				}
// // 			}
// // 		}

// // 		.feedback__block { 

// // 			.feedback__mail { 

// // 			}

// // 			.feedback__button { 

// // 			}
// // 		}
// // 	}

// // 	.secondtNavBlock__container { 

// // 		.nav__container { 

// // 			.nav__list { 

// // 				.nav__item { 

// // 				}
// // 			}
// // 		}

// // 		.socialNetwork__block { 

// // 			.footer__networksLink { 

// // 				img { 

// // 				}
// // 			}
// // 		}

// // 		.footer__networksLink { 

// // 		}
// // 	}

// // 	.footer__networksLink { 

// // 	}
// // }

// // .footer__networksLink { 

// // }