* {
	box-sizing: border-box;
  }
  
  html {
	font-family: "Sharp Sans No2 Semibold", sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	scroll-behavior: smooth;
  }
  
    ul,
    li,
    button,
    input,
    textarea,
    span,
    p {
      margin: 0;
      padding: 0;
      outline: none;
    }
  
  body {
	max-width: 1360px;
	margin-left: auto;
	margin-right: auto;
  background-color: #E5E5E5;

  }
  
    h1,
    h2,
    h3,
    h4 {
      margin: 0;
    }
    
  h1 {
	font-family: Fira Sans;
	font-size: 80px;
	font-style: normal;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: -1px;
	text-align: left;
	height: 140px;
    width: 474px;
    left: 126px;
    top: 232px;
    border-radius: nullpx;
  }

a {
	text-decoration: none;
  }
  
  button:focus,
  input:focus {
	outline: none;
  }


.header__background { 
	position: absolute;
	width: 1360px;
	height: 900px;
	left: 6px;
	top: -3px;
}

.nav { 

  &__list { 
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      position: relative;
      top: 85px;
      left: 119px;
      right: 101px;
  }

  &__item { 
      padding: auto;
      color: white;
    }
}

.workAround { 
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  
  &__title { 
    height: 140px;
    width: 474px;
    left: 126px;
    top: 232px;
    border-radius: nullpx;
    margin: 127px 0 0 120px;
        
    font-family: Fira Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: left;
}

  &__text--small { 
    height: 81px;
    width: 474px;
    left: 126px;
    top: 402px;
    border-radius: nullpx;
    margin: 30px 0 0 120px;

    font-family: Fira Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;  
	}

	&__button { 
    height: 16px;
    width: 189px;
    height: 50px;
    left: 0px;
    top: 17px;
    margin: 56px 0 0 120px;
    background: #4737FF;

    font-family: Fira Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: white;
    line-height: 24px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: capitalize;
  }
}

.loader { 
  display: flex;
  align-items: center;
  margin-top: 189px;
  margin-left: 119px;
  
  &__loaderStartDigit { 
      // height: 18px;
      width: 21px;
      border-radius: nullpx;
      //styleName: Paragraph;
      font-family: Fira Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      // letter-spacing: 0px;
      // text-align: left;
    }

    &__line--active { 
      height: 2px;
      width: 94px;
      padding-left: 10px;
      border-radius: 0px;
    }

    &__line--color { 
      height: 2px;
      width: 184px;
      border-radius: 0px;          
    }

    &__endDigit { 
      // height: 18px;
      width: 23px;
      padding-left: 14px;
      border-radius: nullpx;
      //styleName: Paragraph;
      font-family: Fira Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      // letter-spacing: 0px;
      // text-align: left;
    }
  }

.workAround__picture {

  &--back { 
    position: absolute;
    width: 400px;
    left: 570px;
    top: 532px;
    border-radius: 0px;
    box-shadow: -20px 60px 220px 0px #000000 44%;
    z-index: 1;
  }

  &--front { 
    position: absolute;
    height: 65px;
    width: 65px;
    left: 731px;
    
    top: 654px;
    z-index: 2;
    // border-radius: 0px;
  }
}

.workAround__image {
  position: absolute;
  height: 758px;
  width: 665px;
  left: 695px;
  top: 139px;
  border-radius: 0px;
}

main { 
  position: relative;
  top: 303px;
 
  }

	.weLove { 
    display: grid;
    grid-template-areas:
     "head head head"
     "text multimadia creative"
     "text design ui"
     "text packa coding"
     "text brnding coding";
    grid-template-rows: 40px 28px 28px 28px 28px;
    grid-template-columns: 642px 189px 160px;
    gap: 10px 60px;
    height: 100vh;
    margin: 0;
    left: 126px;
    margin-left: 126px;

    head, text, multimadia,
    design, packa, brnding,
    creative, ui, coding {
      left: 126px;
      padding: 10px;
      background: rgb(219, 217, 217);
      }

		&__blockName { 
      grid-area: head;
      height: 20px;
      width: 160px;
      left: 126px;
      top: 1000px;
      border-radius: nullpx;
      font-family: Fira Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 4px;
      text-align: left;
      text-transform: uppercase;

		}

		&__text { 
      grid-area: text;
      height: 199px;
      width: 539px;
      left: 126px;
      top: 1060px;
      border-radius: nullpx;
      font-family: Fira Sans;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 50px;
      letter-spacing: -1px;
      text-align: left;
		}

		&__item1 { 
      grid-area: multimadia;
      height: 28px;
      width: 189px;
      border-radius: nullpx;
      font-family: Fira Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
		}

    &__item2 { 
      grid-area: design;
      height: 28px;
      width: 189px;
      border-radius: nullpx;

      font-family: Fira Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;

		}

    &__item3 {
      grid-area: packa; 
      height: 28px;
      width: 189px;
      border-radius: nullpx;

      font-family: Fira Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;

		}

    &__item4 { 
      grid-area: brnding;
      height: 28px;
      width: 189px;
      border-radius: nullpx;

      font-family: Fira Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;

		}

    &__item5 { 
      grid-area: creative;
      height: 28px;
      width: 189px;
      border-radius: nullpx;

      font-family: Fira Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;

		}

    &__item6 { 
      grid-area: ui;
      height: 28px;
      width: 189px;
      border-radius: nullpx;

      font-family: Fira Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;

		}

    &__item7 { 
      grid-area: coding;
      height: 28px;
      width: 189px;
      border-radius: nullpx;

      font-family: Fira Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;

		}
	}

	.videoPlay__container { 
    position: relative;
    left: 125px;
    bottom: 220px;
  }

.videoPlay { 
  display: flex;
  flex-direction: column;
  
  // bottom: 460px;

  &__block { 
    display: flex;
   
  }

  &__splashPicture-big { 
    height: 500px;
    width: 825px;
    // left: 125px;
    // top: 1358px;
    border-radius: 0px; 
  }

  &__splashPicture-arrow { 
    height: 65px;
    width: 65px;
    left: 505px;
    // top: 0px;
    position: absolute;
    border-radius: 0px;       
  }

  &__splashPicture-outside { 
    height: 500px;
    width: 825px;
    padding-left: 30px;
    // left: 980px;
    // top: 1358px;
    border-radius: 0px;  
    overflow: hidden;  
  }
}

.manageButton {
  padding-top: 50px;

  &__item-right { 
    padding-left: 25px;
  }
}


.footer__container { 
  height: 240px;
  width: 1360px;
  left: 0px;
  top: 2078px;
  border-radius: 0px;

  display: flex;
  flex-direction: column;
  background-color: #515151;

}

	.firstNavBlock { 
    position: relative;
    display: flex;


		&__title { 
      height: 23px;
      width: 74px;
      margin: 70px 59px 42px 125px;
      border-radius: 0px;
      color: white;
		}

    &__nav {
    
    }

    &__block {
      margin: 59px 127px 41px 95px;
    }
  }

  .nav__list-first{
    list-style-type: none;
    display: flex;
  }

  .nav__item-first {
    margin: 70px 59px 42px;
    color: white;
  }

.feedback {

  &__mail {
    height: 40px;
    width: 170px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #F5F4FF;

  }

  &__button {
    height: 40px;
    width: 100px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #C6B393;

    //styleName: Label;
    font-family: Fira Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 4px;
    text-align: center;

    color: white;
    text-transform: uppercase;
  }
}

.footer__line {
  height: 1px;
  width: 1108px;
  left: 125px;
  top: 2218px;
  border-radius: 0px;
}

.secondtNavBlock {
  display: flex;
  justify-content: space-between;
  margin-left: 125px;
  margin-right: 135px;

  &__secondtNavBlock__nav {

  }

  &__secondtNavBlock__social {
    display: flex;
  }

}

.nav__list-second {
  display: flex;
  list-style-type: none;
  margin-right: 0;
  padding-right: 0;
}


.nav__item-second {
  margin-right: 0;
  padding-right: 0;
  padding-right: 42px;
  color: white;
}

.socialNetwork {
  height: 24px;
  width: 120px;
  border-radius: 0px;



  &__networksLink {
    height: 14px;
    width: 14px;
    left: 4px;
    top: 7px;
    border-radius: 0px;


  }
}


